.div1{
    border: 1px solid blue;
}
#par-1{
    border-style: dotted;
    border-width: 2px;
    border-color: crimson;
    margin: auto;
}
#par-2{
    border-style: groove;
    border-width: 4px;
    border-color: rgb(241, 20, 64);
}
#par-3{
    border-style: ridge;
    border-width: 10px;
    border-color: rgb(182, 241, 20);
}
#par-4{
    border-style: dashed;
    border-width: 4px;
    border-color: rgb(61, 20, 241);
}
#par-5{
    border-style: double;
    border-width: 3px;
    border-color: rgb(3, 1, 10);
}